[submodule "vendor/unity/Unity"]
	path = vendor/unity/Unity
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "vendor/syrup-term"]
	path = vendor/syrup-term
	url = git@github.com:kildevaeld/syrup-term
[submodule "vendor/syrup-path"]
	path = vendor/syrup-path
	url = git@github.com:kildevaeld/syrup-path
